@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&family=Mulish:ital,wght@0,300;0,400;0,500;1,300&display=swap');
 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

*{
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.banner{
    position: absolute;
    left:15% ;
    right: % ;
    height: ;
    top: 10%;
}
.img.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
}
.img.wrapper img{
    width: 100%;
    padding: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
}